@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

body {
    background-color: #ffffff;
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 150px;
    padding-right: 150px;
}

@media (max-width: 768px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 480px) {
    body {
        padding-left: 15px;
        padding-right: 15px;
    }
}

#nav {
    padding-left: 150px;
    padding-right: 150px;
}

@media (max-width: 768px) {
    #nav {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 480px) {
    #nav {
        padding-left: 15px;
        padding-right: 15px;
    }
}

#image_description a {
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 10px;
    padding-left: 15px;
}

@media (max-width: 480px) {
    #image_description a {
        padding-left: 5px;
        font-size: 0.7rem;
    }
}

#image_description a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}